#title{
    background-color: rgb(128, 112, 11);
    text-align: center;
    padding:0.5em;
    margin:0px;

}


ul{
    margin-top:50px;
    margin-left: 100px;
    list-style: none;
}
body{
    background-color: rgba(128, 112, 11,.25);
    margin:0px
}

a:link {
    color: rgb(4, 70, 4);
    background-color: transparent;
    text-decoration: none;
  }

  #footer{
    bottom:0;
    position: fixed;
    background-color: rgb(128, 112, 11);
    height:100px;
    width:100%;
  }
  

